<div class="section-heading">
    <h1  style="margin-left:40%;">About <em>Us</em></h1>
    <h3>We work on something that is, 
    <br>very very <em>COOL</em></h3>
    <!-- <div class="d-flex p-3">
        <div class="p-2"><a class="btn btn-custom" href="#/leader">Our Leaders</a></div>
        <div class="p-2"><a class="btn btn-custom active" href="#/vision">Vision, Mission ,Values</a></div>
        <div class="p-2"><a class="btn btn-custom" href="#/career">Careers</a></div>
    </div> -->
    <!-- <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-custom" href="#/leader" style="margin:2px;" data-toggle="modal" data-target="#myModal">Our Leaders</a>
        <a class="btn btn-custom active" href="#/vision" style="margin:2px;" data-toggle="modal" data-target="#myModal">Vision, Mission ,Values</a>
        <a class="btn btn-custom" href="#/career" style="margin:2px;" data-toggle="modal" data-target="#myModal">Careers</a>
        <a class="btn btn-custom" href="#/" style="margin:2px;" data-toggle="modal" data-target="#myModal">Overview</a>
    </div> -->
    <div class="row">
            
            <div class="col-md-3">
                <div class="card">
                    <a href="#/" style="margin:2px;" data-toggle="modal" data-target="#myModal">
                    <h3 class="title">About Us</h3></a>
                    <div class="bar">
                      <div class="emptybar"></div>
                      <div class="filledbar"></div>
                    </div>
                    <div class="cycle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50"/>
                            <text fill="orange" font-size="87" font-family="Verdana" x="28" y="90">A</text>
                        </svg>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a href="#/career" style="margin:2px;" data-toggle="modal" data-target="#myModal">
                    <h3 class="title">Career</h3></a>
                    <div class="bar">
                      <div class="emptybar"></div>
                      <div class="filledbar"></div>
                    </div>
                    <div class="cycle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50"/>
                            <text fill="orange" font-size="87" font-family="Verdana" x="28" y="90">C</text>
                        </svg>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a href="#/vision" style="margin:2px;" data-toggle="modal" data-target="#myModal">
                    <h3 class="title">Vision,Mission,Values</h3></a>
                    <div class="bar">
                      <div class="emptybar"></div>
                      <div class="filledbar"></div>
                    </div>
                    <div class="cycle">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle class="stroke" cx="60" cy="60" r="50"/>
                            <text fill="orange" font-size="87" font-family="Verdana" x="28" y="90">M</text>
                        </svg>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3">
                    <div class="card">
                        <a href="#/leader" style="margin:2px;" data-toggle="modal" data-target="#myModal">
                        <h3 class="title">Leader</h3></a>
                        <div class="bar">
                          <div class="emptybar"></div>
                          <div class="filledbar"></div>
                        </div>
                        <div class="cycle">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="stroke" cx="60" cy="60" r="50"/>
                                <text fill="orange" font-size="87" font-family="Verdana" x="28" y="90">L</text>
                            </svg>
                        </div>
                        
                    </div>
                </div>
            
            
            
        </div>
</div>
    
<div class="section-content">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
            <div class="modal-content">
                <!-- <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div> -->
                <div class="modal-body">
                    <div ui-view="aboutView"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
                </div>
            </div>
          
        </div>
    </div>
</div>

<!-- <div class="cards-list">
    <div class="row">
        <div class="col-md-4"> 
            <div class="card 1">
                <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
                <div class="card_title title-white">
                    <p>Card Title</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card 1">
                <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
                <div class="card_title title-white">
                    <p>Card Title</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card 1">
                <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
                <div class="card_title title-white">
                    <p>Card Title</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card 1">
                <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
                <div class="card_title title-white">
                    <p>Card Title</p>
                </div>
            </div>
        </div>    
    </div> -->
<!-- </div> -->