
<section id="businessintelligence" class="section-bg" style="padding-top: 170px; background-color: #f2f2f2; " >
        <div class="demo ">
            

            <div class="container" style=" border-radius: 5px;">

                <div class="row">
                        <img class="col-md-10 col-lg-10 col-xl-10 col-sm-0 col-xs-0 img-responsive" src='img/bi.png' height="190px;"  style="border-radius: 10px; " >
                </div>

                <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4 col-sm-0" style="margin-top: 50px;">
                                <img class="img-responsive img-fluid" src="img/oraclecloud.png" >
                        </div>
                        <div class="col-md-8 col-sm-12">
                           <center> <h2 style="color:red; margin-top: 20px;">- Business Intelligence -</h2></center>
                          <center><p>The success or failure of any organization depends on how promptly you respond to
                               today’s ever changing market situations. Business Intelligence solutions enable companies 
                               with the necessary insight and agility to make decisions better and quicker. Oracle Business
                                Intelligence solutions employs technologies, processes, and applications to analyze data 
                                and generate graphical user-friendly reports. It helps gain deep understanding of and 
                                insight into your business which, in turn, helps to make smarter business decisions and gain
                                 an edge over your competition.</p></center>
                            <center><p>Emicon – A reckoned and proven leader in BI consistently provides solutions that
                                 boost profits, cut down costs, improvise efficiency, accountability and productivity, 
                                 and last but not least lend an acumen needed to be successful. Our offered BI solutions
                                  will address both your functional and cross functional needs like –</p></center>
                            <center><h2><b>Oracle Business Intelligence Foundation Suite:</b></h2></center>
                      <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                        
                        &nbsp; &nbsp; Eliminate cost redundancy by standardizing on a single business intelligence platform.</p>
                  </center>
                  <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                    &nbsp; &nbsp;   Serve all users across the enterprise and meet the complete spectrum of reporting, analysis, modeling,
                     and forecasting requirements.</center>
                    <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                        &nbsp; &nbsp; Empower business users to quickly and easily create reports and queries without reliance on IT.</p></center>
                        <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                            &nbsp; &nbsp; Centralize the definition of all metrics, calculations, and measures to ensure a single version of the truth.</p></center>

                            <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                                &nbsp; &nbsp;      Embed business intelligence directly into business process workflows.</p></center>         
                </div>
                    </div>
            </div>
        </div>
        </section>