<section id="clients" class="wow fadeInUp">
        <div class="container">
  
          <header class="section-header">
            <h3 style="color: blueviolet;margin-bottom:30px">- Our Clients -</h3>
          </header>
  
          <div class="row">
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-1.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-2.jpg">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-3.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-4.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon5.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-6.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-7.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-8.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-9.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-10.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-11.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-12.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-13.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-5.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-15.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-16.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-17.png">
              </div>
              <div class="col-md-2">
                  <img class="zoom" src="img/clients/clienticon-18.png">
              </div>
          </div>
  
        </div>
      </section><!-- #clients -->