<div class="section-heading">
    <h1>Our<br><em>Clients</em></h1>
    <p>Praesent pellentesque efficitur magna, 
    <br>sed pellentesque neque malesuada vitae.</p>
</div>
<div class="section-content">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-1.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-2.jpg" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-3.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-4.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-5.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-6.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-7.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-8.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-9.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-10.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-11.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-12.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-13.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-15.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon5.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-16.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-17.png" alt="">
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img src="img/clients/clienticon-18.png" alt="">
            </div>
        </div>
    </div>
</div>