
<section id="businessintelligence" class="section-bg" style="padding-top: 170px; background-color: #f2f2f2; " >
        <div class="demo ">
            <div class="container" style=" border-radius: 5px;">
                
                    <div class="row">
                            <img class="col-md-10 col-lg-10 col-xl-10 col-sm-0 col-xs-0 img-responsive" height="220px;" src='img/crm.jpg'   style="border-radius: 10px; " >
                    </div>

                <div class="row" style="margin-top: 10px;">
                        <div class="col-md-4 col-sm-4" style="margin-top: 50px;">
                                <img class="img-responsive img-fluid" src="img/crmm.png" >
                        </div>
                        <div class="col-md-8 col-sm-8">
                           <center> <h2 style="color:red; margin-top: 20px;">- CRM -</h2></center>
                          <center><p>Emicon, a key player in Oracle E-Business Suite helps its client by providing
                               analytical solutions for the business information gathered from different legacy 
                               systems or Oracle ERP.</p></center>
                            <center><p>Through Oracle Business Intelligence (BI), we help business users to 
                                transform data into dashboards and reports in a more optimized manner. It also 
                                reduces cost and dependencies of user over other IT personnel’s.</p></center>
                            <center><p>One of the major challenges involved in BI practice is to provide BI solutions in
                                 order to help client in building their strategic information. Therefore, through Oracle 
                                 BI we help organization in implementing and maintaining their solutions with a view to
                                  gain maximize return on their investments.</p></center>
                                  <center><p>Emicon is expertise in providing implementation and solution support for
                                       following areas of Oracle Business Intelligence Tools:</p></center>
                      <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                        
                        &nbsp; &nbsp; Enterprise BI Platform.</p>
                  </center>
                  <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                    &nbsp; &nbsp;   Mobile BI.</center>
                    <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                        &nbsp; &nbsp; OLAP Analytics.</p></center>
                        <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                            &nbsp; &nbsp; Enterprise Reporting.</p></center>

                            <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                                &nbsp; &nbsp;      Scoreboard and Strategy Management.</p></center>         
                </div>
                    </div>
            </div>
        </div>
        </section>