
<section id="vision" class="section-bg" style="padding-top: 170px;  " >
        <div class="demo ">
           
            <div class="container" >
                <div class="row" style="margin-top: 30px;">
                      
                        <div class="col-md-6 col-sm-6">
                           <!-- <center> <h2 style="color:red; margin-top: 20px;">- Oracle E-Business Suite -</h2></center> -->
                           <div class="img-responsive container-fluid cf"><img src='img/oracleebusinesserp.png'
                            height="90px;"  style="border-radius: 10px; " ></div>
                           <center> <h4 style="color:red; margin-top: 20px;">( ERP )</h4></center>
                          <center><p>Emicon, a leading Oracle Enterprise Services and Solution provider, offers customers
                               with cross-business capabilities spanning enterprise resource planning, customer relationship
                                management and supply chain planning. The practices evolved for implementation and post-system
                                implementation support are result of experience gained by team through multiple such engagements
                                 with Fortune500 clients globally.</p></center>
                            <center><p>We believe in bringing value to the table in terms of process and application knowledge
                                 coupled with typical IT audit requirements. Our methodologies have been tuned to ensure on-time
                                  and within budget project execution. We help the organizations in planning and managing the 
                                  change management resulting from system and process transitions. We provide services in</p></center>
                         
                </div>
                <div class="col-md-6 col-sm-6" >
                        <img class="img-responsive img-fluid" src="img/EBusinessSuite.png">
                </div>
                    </div>
                    <div class="row" style="margin-top: 100px;">
                            <div class="col-md-6 col-sm-6" >
                            <img class="img-responsive img-fluid" src="img/oraclecloudsolution23.jpg" >
                        </div>
                        <!-- Dropdown Divs -->
                        <div class="col-md-6 col-sm-6" id="myDiv" >
                              <p onclick="myFunction()">  <i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> &nbsp; &nbsp;<b> Oracle financial Management</b></p>
                              <p onclick="myFunctionn()">  <i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> &nbsp; &nbsp; <b>Oracle Procurement and Supply Chain Management</b></p>
                              <p onclick="myFunctionnn()">  <i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>&nbsp; &nbsp; <b>Oracle Human Capital Management</b></p>
                              <p onclick="myFunctionnnn()">  <i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>&nbsp; &nbsp; <b>Oracle Manufacturing</b></p> 
                              <p onclick="myFunctionnnnn()">  <i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>&nbsp; &nbsp; <b>Oracle Projects</b></p> 
                            
                            </div>
                        </div>
            </div>    

                        <!-- Oracle financial managment -->
                        <div class="container" style="background-color:#F5F5F5;  border-radius: 10px;">
                            <div id="myDIV" style="margin-top: 130px; width: 80%; display: none;">
                                <h2 style="color:red; ">- Oracle Financial Management -</h2>
                            <p><b>Oracle Financial Management supports organization to automate financial business processes and 
                                ensure control is implemented in terms of approvals and limits. Oracle E-Business Suite Financials 
                                allow you to work smarter, increase efficiency and reduce back-office costs with standardized
                                 processes for shared services, productivity tools, and integrated performance management. Oracle
                                  Financial Management Suite Consists of following modules:</p>
                                <h3  style="color: red;">Modules</h3>
                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> General Ledger </p>
                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Accounts Payable </p>
                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Accounts Receivable </p>
                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Fixed Assets </p>
                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Cash Management </p>
                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Treasury Management </p>
                                <p>The above mentioned modules are supported by internet enabled modules like Internet Expenses, 
                                    i-Receivables and Advanced Collections which help organizations to roll them easily for their 
                                    employees.</p>
                                <p>The diverse tax requirements of geo can be mapped within a centralized tax engine provided by
                                     Oracle EBS viz. E-Business Tax.</p>
                                     <p>The system supports multiple accounting conventions followed across geos which can be 
                                         customized as per the client needs through Sub-ledger Accounting module.</p>
                                
                                     </b>        </div>
                                </div>

                                <!-- Oracle Procurement and Supply Chain Management -->
                                <div class="container">
                                        <div id="demo" style="margin-top: 130px; width: 80%; display: none;">
                                            <h2 style="color:red; ">- Oracle Procurement and Supply Chain Management -</h2>
                                            <p><b>Oracle Supply Chain Management supports the whole order to cash and procure to 
                                                pay business processes, capturing demand from any channel, providing inbound and outbound 
                                                transportation management, and supporting large, complex distribution operations. Our 
                                                expertise is based on Oracle platform that optimize performance, streamline support and
                                                 maximize return on your investment. Based on the system capabilities and our experience in 
                                                 providing solutions, customer can get accurate view of the entire Supply Chain execution
                                                  process that would aid in planning, managing and controlling the flow and storage of goods
                                                   & services.</p>
                                                   <p>Oracle Supply Chain Management and Procurement consist of following modules:</p>
                                            <h3  style="color: red;">Modules</h3>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Purchasing </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Inventory Management </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Order Management </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> i-Procurement </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> i-Supplier </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Procurement Contracts for Purchasing </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Services Procurement for Purchasing </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Sourcing for Oracle Purchasing </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Supplier Lifecycle Management </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Warehouse Management </p>
                                            <h3  style="color: red;">Features</h3>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Advanced Approval Capability </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Position hierarchy support </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Lean manufacturing and advanced procurement solutions </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Synchronize production with product demand and supplies, automate the procurement cycle and enhance the responsiveness of the supply chain </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Change management for Internal Requisitions </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Applications for transportation management and network optimization </p>
                                            <h3  style="color: red;">Benefits</h3>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Requesters can quickly purchase the items they need with an easy to use interface that provides all the information they require </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Accelerate innovation with best-in-class product lifecycle management and complete product value chain management </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Proven solutions that have shorter implementation times which means quicker ROI </p>
                                            <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Pre-integrated applications on common architecture leading to lower administrative costs </p>
                                            </b>
                                        </div>
                                            </div>
                                            
                                              <!-- Oracle Human Capital Management -->
                        <div class="container">
                                <div id="demoo" style="margin-top: 130px; width: 80%; display: none;">
                                    <h2 style="color:red; ">- Oracle Human Capital Management -</h2>
                                <p><b>Oracle HCM delivers best-in-class human resources functionality that enables you 
                                    to increase productivity, accelerate business performance, and lower your cost of ownership.
                                     Oracle HCM enables the organizations to proactively manage HR operations while focusing on 
                                     strategic business initiatives. Emicon has a mature HCM practice team which has successfully
                                      completed several full life-cycle Oracle HRMS implementations with Fortune 500 clients. With
                                       the knowledge about business practices and application, our consultants bring on the table
                                        required expertise to help the HR managers realize their desires in implementing leading HR
                                         practices supported by a world class system.</p>
                                         <p>Oracle Human Capital Management consists following modules:</p>
                                    <h3  style="color: red;">Modules</h3>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Core Human Resources (HR) </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Payroll </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Self-Service Human Resources (SSHR) </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Performance Management (Appraisal Cycles) </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Time and Labor (Time and Attendance Solution) </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Learning Management (Learning path within organization) </p>
                                    <h3  style="color: red;">Features</h3>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Segmented data validation to support lines of business or geography </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Basic position management </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Absence management </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> New hire monitoring </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Intuitive support for complex global transfers </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Analytics embedded in business processes </p>
                                    <h3  style="color: red;">Benefits</h3>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Efficiently and effectively manage a globally integrated workforce </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Deliver immediate value by making talent foundational to all business processes </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Reduce labor & administrative costs with business process models and design patterns </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Integrated Mobile Applications with Oracle Human Resource Management </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Human Resource Management 2 ways Integration with Customer Recruitment </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Portal Customized Department wise Employee Budget Solutions </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Completely Online and Very Efficient Environment with Oracle Self Service </p>
                                    <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Convert paper based forms to e-forms through self service </p></b>
                                </div>
                                    </div>
    
                                    <!-- oracle manufacturing -->

                                    <div class="container">
                                            <div id="demooo" style="margin-top: 130px; width: 80%; display: none;">
                                                <h2 style="color:red; ">- Oracle Manufacturing -</h2>
                                            <p><b>Oracle Manufacturing solution enables customer to optimize production 
                                                capacity with efficient data model ensuring accurate view of manufacturing 
                                                process, that enhances your ability to configure customer orders, optimize 
                                                subcontracting and manage cost, quality. All these can significantly contribute
                                                 towards increase return on your investment.</p>
                                                     <p>Oracle Manufacturing consist of following module:</p>
                                                <h3  style="color: red;">Modules</h3>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Discrete Manufacturing </p>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Projects / Contract Manufacturing </p>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Process Manufacturing </p>
                                                <h3  style="color: red;">Features</h3>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Mitigate risk and enforce compliance across the extended supply chain
                                                     to drive improvement and ensure adherence to customer requirements </p>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Improves collaboration with top-to-bottom supply chain and financial 
                                                    integration </p>
                                                <h3  style="color: red;">Benefits</h3>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Drive operational excellence using comprehensive supply chain applications
                                                     that support demand-driven Lean manufacturing
                                                </p>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Improve collaboration with top-to-bottom supply chain and financial integration </p>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Reduce labor & administrative costs with business process models and design patterns </p>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Mitigate risk and enforce compliance across the extended supply chain to drive improvement
                                                     and ensure adherence to customer requirements </p></b>
                                            </div>
                                                </div>


                                    <!-- oracle Projects -->

                                    <div class="container">
                                            <div id="demoooo" style="margin-top: 130px; width: 80%; display: none;">
                                                <h2 style="color:red; ">- Oracle Projects -</h2>
                                            <p><b>Emicon supports the full lifecycle of Project and portfolio management with a single, accurate view of all project-related
                                                 activities. Emicon is having a team of industry experts who have delivered several Oracle Projects implementations 
                                                 across Construction, IT/Financial Services, Real Estate and Utlities industry sector. Oracle Projects gives the user
                                                  an ability to effectively track project based costs, billing, tasks, milestones, contractual terms and Earned Value
                                                   Management.</p>
                                                     <p>Oracle Projects consist of following modules:</p>
                                                <h3  style="color: red;">Modules</h3>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Project Billing </p>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Project Costing </p>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Oracle Project Collaboration </p>
                                                <h3  style="color: red;">Features</h3>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Easily integrates with other Oracle E-Business Suite applications, including Oracle Financials, 
                                                    Oracle Supply Chain Management, Oracle Human Resources Management, Oracle Customer Relationship Management, Oracle 
                                                    Sales, Oracle Advanced Procurement and the Oracle Collaboration Suite to complete end-to-end business processes </p>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Address the unique challenges facing the most project-centric organizations and departments </p>
                                                <h3  style="color: red;">Benefits</h3>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Provides holistic planning capabilities, from long-range aggregate planning to short-term detail scheduling
                                                </p>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>Accurate view of the entire planning process </p>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Optimize the flow of materials, cash, and information </p>
                                                <p><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i> Speed up implementation, optimize performance, streamline support, and maximize return on your investment </p></b>
                                            </div>
                                                </div>

                        </div>
                      </div>
        </section>