<section id="hc" class="section-bg" style="padding-top: 170px; padding-bottom: 40px;" >
    <!-- <div class="demo "> -->
        <div class="container">
          <h1 class="text-center" style="color: #0a98c0;">- Health Check and Audit-</h1>
            <div class="row" style="margin-top: 100px;">
                <div class="col-md-6 col-sm-12">
                    <img class="img-fluid" src="img/hc and audit.png" height="400px" width="500px">
                </div>
                <div class="col-md-6">
                    <p>
                        Emicon enables its clients to analyze their existing Oracle E-Business Suite implementation and any existing pit-falls or roadblocks in the current solution. A detailed report prepared after due diligence of the system and meeting up with business users is the key deliverable of this activity. We help our clients in:
                    </p>
                    <ul>
                        <li>Defining specific & measurable goals for the business performance</li>
                        <li>Assessing current business model</li>
                        <li>Evaluating the existing business processes</li>
                        <li>Identifying the non-value adding processes and functions</li>
                        <li>Identifying the ways and means to simplify &speed up the critical processes</li>
                        <li>Identifying the solution map to align your business processes with strategic goals</li>
                        <li>Assessing the existing resources & IT infrastructure to determine their optimal utilization or need for retirement</li>
                        <li>Assessing the responsiveness and adaptability status of enterprise in general and work-force in specific towards change.</li>
                        <li>Understanding the training and awareness needs and build and enterprise level training plans which will help to utilize the application effectively</li>
                    </ul>
                    
                </div>
            </div>
            <h1 class="text-center" style="color: #0a98c0;margin-top:50px">- EMICON value proposition-</h1>
            <div class="row" style="margin-top:100px">
                <div class="col-md-6">
                    <ul>   
                        <li>Our team suggests improved return on investment vis-a-vis the initial implementation.</li>
                        <li>Immediate and long-term cost savings that effectively reduce total cost of ownership.</li>
                        <li>Elimination of costly and complicated applications and customizations with standard solutions / boltons</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="img/value.png" height="380px" width="380px">
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>