<header id="header" >

         <div id="topbar">
          <div class="container">
            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
    
        <div class="container">
    
          <div class="logo float-left">
            <a href="#/" class="scrollto"><img src="img/logo.png" height="50px" alt="logo" class="img-fluid"></a>
          </div>
    
          <nav class="main-nav float-right d-none d-lg-block">
            <ul>
              <li><a href="#/">Home</a></li>
              <li class="drop-down"><ul>
                      <li><a href="#">Company Overview</a></li>
                      <li><a href="#">Executive Leadership</a></li>
                      <li><a href="#">Vision,Mission & Values</a></li>
                      <li><a href="#">Careers</a></li>
                    </ul><a href="#about">About Us</a></li>
              <li class="drop-down"><ul>
                  <li><a href="#">Oracle Cloud Solution</a></li>
                  <li><a href="#">Oracle E-Business Suite(ERP)</a></li>
                  <li><a href="#">Business Intelligence(BI)</a></li>
                  <li><a href="#">CRM</a></li>
                  <li><a href="#">Hyperion(EPM)</a></li>
                  <li><a href="#">VCE</a></li>
                  <li><a href="#">VCP & Demantra</a></li>
                </ul><a href="#/services">Solutions</a></li>
              <li class="drop-down"><ul>
                  <li><a href="#">Oracle R12 Upgrade Services</a></li>
                  <li><a href="#">Implementation</a></li>
                  <li><a href="#">Health Check & Audit Services</a></li>
                  <li><a href="#">Program Management</a></li>
                  <li><a href="#">Managed Services</a></li>
                  <li><a href="#">Training</a></li>
                  <li class="drop-down"><ul>
                      <li><a href="#">Healthcare</a></li>
                      <li><a href="#">Banking</a></li>
                    </ul><a href="#team">Industries</a></li>
                </ul><a href="#/industries">Services</a></li>
             
              <li class="drop-down"><a href="">Insights</a>
                <ul>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Photo Gallery</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </li>
              <li><a href="#clients">Our Clients</a></li>
              <li><a href="#footer">Contact Us</a></li>
            </ul>
          </nav>
          
        </div>
        
      </header>