<div class="section-heading">
    <h1  style="margin-left:30%;">Our <em>Insights</em></h1>
    <h3>Our Insights are,
    <br><em>Beautiful</em> very Beautiful</h3><br>
<!-- <ul>
    <l1><a class="btn btn-custom" href="#/event">Event</a></l1>
    <l1><a class="btn btn-custom" href="#/news">News</a></l1>
    <l1><a class="btn btn-custom" href="#/photo">Photo</a></l1>
    <l1><a class="btn btn-custom" href="#/blog">Blog</a></l1>
</ul> -->
<div class="btn-group" role="group" aria-label="....">
    <a class="btn btn-custom" href="#/event" style="margin:2px;">Event</a>
    <a class="btn btn-custom" href="#/news" style="margin:2px;">News</a>
    <a class="btn btn-custom" href="#/photo" style="margin:2px;">Photo</a>
    <a class="btn btn-custom" href="#/blog" style="margin:2px;">Blog</a>
</div>
</div>
<div class="section-content">
    <div ui-view="insightView"></div>
</div>  