<div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <!-- Item -->
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                          <h1 style="color:aliceblue">Nice Company<br>Emicon</h1>
                          <p>Its a really really nice company</p>
                          <div class="white-button button">
                              <a href="#featured">Discover More</i></a>
                          </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                            <h1 style="color: pink">Nice Company<br>Emicon</h1>
                          <p>Its a really really nice company</p>
                          
                          <div class="white-button button">
                              <a href="#featured">Discover More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
                <!-- Item -->
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                            <h1 style="color: aqua">Nice Company<br>Emicon</h1>
                          <p>Its a really really nice company</p>
                          
                          <div class="white-button button">
                              <a href="#featured">Discover More</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- // Item -->
            </div>
        </div>