<section id="or12" class="section-bg" style="padding-top: 170px; padding-bottom: 40px;" >
    <div class="demo ">
        <div class="container">
          <h1 class="text-center" style="color: lightgreen;">- Oracle R-12 Upgrade Service -</h1>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid"src="img/r12.jpg" height="500px" width="500px">
                </div>
                <div class="col-md-6">
                    <p>
                        The organizations currently working on R11i are always in a dilemma to decide on doing a technical upgrade or re-implementation of entire system when moving to Oracle R12. This is always a challenging and hot topic for debate in all IT program centric meetings. This activity has always been a challenge due to long times and high costs involved coupled with uncertainties and complexities involved with it. With Emicon, you can cut 40 to 60% of your Oracle EBS R12 upgrade & reimplementation cost and time.
                    </p>
                    <ul>
                        <li>Overall Program Management</li>
                        <li>Database upgrades and Administration</li>
                        <li>Upgrade Readiness Assessment</li>
                        <li>Upgrade Planning and Preparation</li>
                        <li>Technical & Application Upgrade</li>
                        <li>Data Migration and Validation</li>
                        <li>Custom Components – Assessment, Retrofit & Redeployment</li>
                        <li>User Change Management</li>
                        <li>Testing and Validation</li>
                        <li>Training and User Adoption through usage of tools and boot camps</li>
                        <li>Post upgrade support</li>
                        <li>Technical architecture planning and design</li>
                        <li>Database upgrades</li>
                        <li>Application upgrades with new utilities</li>
                        <li>New feature training</li>
                        <li>Custom development expertise</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>