<section id="vision" class="section-bg" style="padding-top: 170px; background-color: white; " >
        <div class="demo ">
            <div class="container" style=" border-radius: 5px;">
                <div class="row">
         <center> <img class="col-md-10 col-lg-10 col-xl-10 col-sm-0 col-xs-0" src='img/oraclecloudsolution.jpg'
                 style="border-radius: 10px;" ></center>
            </div>
                <div class="row" style="margin-top: 30px;">
                        <div class="col-md-4 col-sm-4" style="margin-top: 50px;">
                                <img class="img-responsive img-fluid" src="img/oraclecloud.png" >
                        </div>
                        <div class="col-md-8 col-sm-8">
                           <center> <h2 style="color:red; margin-top: 20px;">- Oracle cloud Solution -</h2></center>
                          <center><p>Emicon helps businesses to capitalize on its speed, scale, control and to transform their
                               business using Cloud Computing in which application systems are involved which are executed 
                               within the cloud and administer through internet enabled devices. By implementing a new infrastructure,
                                we are modifying the process of delivering IT services.</p></center>
                            <center><p>By implementing cloud computing, we help the users to take the beneﬁt from the technologies which
                                 are being implemented, without having the need for deep knowledge about or expertise in these technologies
                                  and aim to cut costs, and help the users focus on their core business instead of the implementation and 
                                  setup. With the help of Cloud Computing, we are providing broad network access having the capabilities 
                                  that is accessed through standard mechanism that is used by different client platforms i.e. mobile phones,
                                   tablets, laptops and workstations etc. We provide services by deploy models like:</p></center>
                            
                      <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                        <font style="color: red">Private Cloud :</font> 
                        We provide cloud infrastructure which is operated only for a single organization.</p>
                  </center>
                  <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                    <font style="color: red">Public Cloud :</font> 
                    We also provide cloud infrastructure in which the services are rendered over a network and is open for public use.</center>
                    <center><p style="width:90%;"><i class="fa fa-cloud" style="color:red; " aria-hidden="true"></i>
                        <font style="color: red">Hybrid Cloud :</font> 
                        We are also providing Hybrid cloud which is a composition of two or more clouds (private, community or public) that remain 
                        distinct entities but are bound together, offering the benefits of multiple deployment models. Hybrid cloud can also 
                        mean the ability to connect collocation, managed and/or dedicated services with cloud resources.</p></center>
           
                </div>
                    </div>
            </div>
        </div>
        </section>