<section id="hc" class="section-bg" style="padding-top: 170px; padding-bottom: 40px;" >
        <!-- <div class="demo "> -->
            <div class="container">
              <h1 class="text-center" style="color: #0a98c0;">- Program Management -</h1>
                <div class="row" style="margin-top: 100px;">
                    <div class="col-md-6 col-sm-12">
                        <img class="img-responsive" src="img/manage2.jpg" height="300px" width="450px">
                    </div>
                    <div class="col-md-6">
                        <p>
                            The organizations undertaking projects of magnitude like that of an ERP business transformation have realized the importance of effective program management for the org-wide initiative. This has brought forth formalized frameworks, methodologies to manage the projects effectively. Emicon delivers Project & Program Management Services to manage projects from planning stage to completion and further handover to in-house team.
                        </p>
                        <h3>Emicon offers following Project & Program Management Services:</h3>    
                        <ul>
                            <li>Business Goals Alignment</li>
                            <li>Benefits Realization</li>
                            <li>Program Measurement</li>
                            <li>Project Governance</li>
                            <li>Organizational Change Management</li>
                        </ul>    
                    </div>
                </div>

                <div class="row" style="margin-top: 100px;">
                    <div class="col-md-6 col-sm-12">
                        <h3>Emicon further helps the organizations during the Project Initiation/Planning Process through following</h3>    
                        <ul>  
                            <li>Identifying the appropriate team structure</li>
                            <li>Identifying the key stakeholders and communicate the roles and responsibilities expected from every team member</li>
                            <li>Identify Expected Road Blocks and seek inputs from in-house team to overcome them</li>
                            <li>Prepare a road map from initializing to completion of vision</li>
                            <li>Break the road map into sizable projects to manage them effectively and reporting the status</li>
                        </ul>     
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive" src="img/manage.jpg" height="300px" width="450px">
                    </div>
                </div>
                <div class="row" style="margin-top: 100px;">
                    <div class="col-md-6 col-sm-12">
                        <img class="img-responsive" src="img/manage3.png" height="450px" width="450px">
                    </div>
                    <div class="col-md-6">
                        <h3>Emicon helps in delivering the Transformation Optimization through following</h3>    
                        <ul>
                            <li>Optimal use of Oracle Products and Technologies</li>
                            <li>Architectural Soundness</li>
                            <li>Optimal Performance in Production</li>
                            <li>Optimal Project Execution</li>
                        </ul>    
                    </div>
                </div>
                <p style="margin-top: 100px;" >Emicon Program management plays a significant role in ensuring that all projects meet operational, cost, budget, and time-related goals. In a complex business renovation scenario, effective program management can help control and manage cross-dependencies across multiple project implementations. Our consultants, experienced in multiple product implementations, work as program managers for reputable organizations around the world. Through these efforts, our practice has built a rich repository of the program-tracking methods, scenarios, and risks inherent within various product implementation projects</p>
            </div>
        <!-- </div> -->
    </section>