<section id="services" class="section-bg" ng-style="serviceStyle">
    <!-- <div class="container">

      <header class="section-header">
        <h1 class="text-center" style="color: #0a98c0;">- Solutions -</h1>
        <p>{{status}}</p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #fceef3;"><i class="fa fa-cloud" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="#oraclecloudsolution">CLOUD COMPUTING</a></h4>
            <p class="description">Emicon helps businesses to capitalize on its speed, scale, control and to transform their business using Cloud</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
            <h4 class="title"><a href="#oracle-ebusinesserp">ORACLE E-BUSINESS SUITE</a></h4>
            <p class="description">Emicon, a leading Oracle Enterprise Services and Solution provider, offers customers with cross-business</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a href="">VCP & DEMANTRA</a></h4>
            <p class="description">Emicon provides a complete planning solution built on a common foundation that leverages pre-built</p></div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
            <h4 class="title"><a href="#businessintelligence">BUSINESS INTELLIGENCE</a></h4>
            <p class="description">The success or failure of any organization depends on how promptly you respond to today's ever changing</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
            <h4 class="title"><a href="#crm">CRM</a></h4>
            <p class="description">Emicon, a key player in Oracle E-Business Suite helps its client by providing analytical solutions for the</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
            <h4 class="title"><a href="">HYPERION (EPM)</a></h4>
            <p class="description">Oracle Hyperion Planning is an agile planning solution that supports enterprise wide planning, budgeting</p>
          </div>
        </div>

      </div>

    </div> -->

    <div class="container">
        <h1 class="text-center" style="color: #0a980a">- SERVICES -</h1>
           <div class="row" style="margin-top:40px;">
          
          <div class="col-lg-4 col-xs-12 text-center wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box-column">
                        <div class="box-top twitter">
                            <i class="fa fa-cloud fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="box-bottom abcd">
                            <div class="box-title twitter-title">
                    Cloud Computing
                  </div>
                <div class="box-text">
                    Emicon helps businesses to capitalize on its speed, scale, control and to transform their business using Cloud                </div>
                <a href="#oraclecloudsolution" style="color: skyblue;">GO NOW</a>
                        </div>
             </div>
          </div>
          
            <div class="col-lg-4 col-xs-12 text-center wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box-column">
                        <div class="box-top instagram">
                            <i class="fa fa-cloud fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="box-bottom abcd">
                            <div class="box-title instagram-title">
                    Oracle E-Buisness Suite
                  </div>
                <div class="box-text">
                    Emicon, a leading Oracle Enterprise Services and Solution provider, offers customers with cross-business                </div>
                <a href="#oracle-ebusinesserp" style="color: skyblue;">GO NOW</a>
                        </div>
             </div>
          </div>	 
             
          <div class="col-lg-4 col-xs-12 text-center wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box-column">
                        <div class="box-top facebook">
                            <i class="fa fa-cloud fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="box-bottom abcd">
                            <div class="box-title facebook-title">
                     Buisness Intelligence
                  </div>
                   <div class="box-text">
                      The success or failure of any organization depends on how promptly you respond to today's ever changing                </div>
                  <a href="#businessintelligence" style="color: skyblue;">GO NOW</a>
                        </div>
             </div>
          </div>	 
            
        </div>
        
        

        </div>

  </section>