<div class="section-heading">
    <h1  style="margin-left:30%;">Our <em>Services</em></h1>
    <h3>Our solutions are the best,
    <br> in class <em>services</em> out there.</h3><br>
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-custom m-3" href="#/or12" style="margin:2px;">Oracle R12 Upgrade Services</a>
        <a class="btn btn-custom" href="#/implementation" style="margin:2px;">Implementation</a>
        <a class="btn btn-custom" href="#/hc" style="margin:2px;">Health Care</a>
        <a class="btn btn-custom" href="#/pm" style="margin:2px;">Program Management</a>
        <a class="btn btn-custom" href="#/ms" style="margin:2px;">Managed Services</a>
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-custom" href="#/train" style="margin:3px">Training</a>
    </div>
    
</div>
<div class="section-content">
    <div ui-view="serviceView"></div>
</div>  