<div class="section-heading">
    <h1  style="margin-left:30%;">Our <em>Solutions</em></h1>
    <h3>Our solutions are the best solutions,
    <br> rest are waste solutions.</h3><br>
    <div class="section-content">
        <div ui-view="solutionView"></div>
    </div>
<!-- <div class="btn-group" role="group" aria-label=".....">
    <a class="btn btn-custom" href="#/erp" style="margin:2px;">Oracle E-Business Suite(ERP)</a>
    <a class="btn btn-custom" href="#/bi" style="margin:2px;">Business Intelligence(BI)</a>
    <a class="btn btn-custom" href="#/crm" style="margin:2px;">CRM</a>
    <a class="btn btn-custom" href="#/ocs" style="margin:2px;">Oracle Cloud Solution</a>
    <a class="btn btn-custom" href="#/epm" style="margin:2px;">Hyperion(EPM)</a>
</div> -->
<div class="container-fluid">
    <div class="row" style="margin-left: 100px;">
        <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 col-xl-4" >
            <article class="cardd">
                <div class="thumb"></div>
                <div class="infos">
                  <h2 class="title"><b style="float: left;">Oracle E-Business</b><span class="flag"></span></h2>
                  <!-- <h3>ERP</h3> -->
                  <p class="txt" style="font-size:15px;">
                      Emicon, a leading Oracle Enterprise 
                      Services and Solution provider, 
                      offers customers with cross-business 
                      capabilities spanning enterprise resource.... </p>
                  <h3 class="details">Read More</h3>
                </div>
              </article>
              </div>
        <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 col-xl-4" ><article class="cardd">
                <div class="thumb"></div>
                <div class="infos">
                  <h2 class="title"><b style="float: left;">Business<br>Intelligence</b><span class="flag"></span></h2>
                  <!-- <h3>ERP</h3> -->
                  <p class="txt" style="font-size:15px;">
                      Emicon, a leading Oracle Enterprise 
                      Services and Solution provider, 
                      offers customers with cross-business 
                      capabilities spanning enterprise resource.... </p>
                  <h3 class="details">Read More</h3>
                </div>
              </article>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 col-xl-4" ><article class="cardd">
                    <div class="thumb" ></div>
                    <div class="infos">
                      <h2 class="title"><b style="float: left;">CRM</b><span class="flag"></span></h2>
                      <!-- <h3>ERP</h3> -->
                      <p class="txt" style="font-size:15px;">
                          Emicon, a leading Oracle Enterprise 
                          Services and Solution provider, 
                          offers customers with cross-business 
                          capabilities spanning enterprise resource.... </p>
                      <h3 class="details">Read More</h3>
                    </div>
                  </article>
                  </div>
    </div>
    </div>
</div>
