<section id="hc" class="section-bg" style="padding-top: 170px; padding-bottom: 40px;" >
        <!-- <div class="demo "> -->
            <div class="container">
              <h1 class="text-center" style="color: #0a98c0;">- Training -</h1>
              <h3 class="text-center">Helping You Focus on Core Competencies</h3>
                <div class="row" style="margin-top: 100px;">
                    <div class="col-md-6 col-sm-12">
                        <img class="img-responsive" src="img/train.png" height="300px" width="550px">
                    </div>
                    <div class="col-md-6">
                        <p>
                            Reduce project risk and ensure project success!
                            <br><br>
                            Emicon TEAM (Teach, Engage, Aim and Mature) is about the “People” side of change management. Even the well-designed system can fail if the users are unable or unwilling to perform their roles in the new system. Our solutions are scalable and highly flexible to suit the diverse project sizes, corporate cultures and budgets.
                            <br><br>    
                            Emicon TEAM delivers high quality, cost-effective and creative solutions to meet the training requirements for Oracle’s E-Business Suite and be-spoke solutions delivered along with it. We offer Oracle functional and technical training designed to fit into the lifecycle of your implementation or upgrade project. From executive courses on setting project expectations to workshops for project teams, to end-user, job-focused courses, Emicon TEAM empowers your team with the skills they need to make the most of your Oracle Application investments.
                            <br><br>    
                            Emicon TEAM comprises experts and management professionals from top notch consulting firms and IT Advisory companies to bring onto the table the required value and expertise.
                        </p>
                    </div>
                </div>
                <div class="row" style="margin-top:50px">
                    <div class="col-md-6">
                        <h3>Our Oracle Training offerings include:</h3>
                        <ul>
                            <li>Executive Team Education – Executives learn what to expect during the implementation or upgrade process</li>
                            <li>Full array of courses across the Oracle E-Business Suite that can be tailored to address your unique Oracle training requirements</li>
                            <li>Project Team Education – Your team gains skills and insights to make solid decisions during implementations or upgrades</li>
                            <li>Technical Team Training – Technical staff learn about the tools that support the Oracle E-Business Suite</li>
                            <li>End User Training – End users benefit from role-based, hands-on learning and ensure the success of your project with increased user adoption</li>
                            <li>Custom Training Solutions – We deliver custom training modules suiting your needs and requirements.</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive" src="img/train2.jpg" height="300px" width="550px">    
                    </div>
                </div>  
                
            </div>
        <!-- </div> -->
    </section>