
<section id="vision" class="section-bg" style="padding-top: 170px;  background-color: #f2f2f2;" >
    <div class="demo ">
            
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-2">
                   <center> <h2 style="color:#1bb1dc;">- Vision -</h2></center>
               <center><p style="width:70%;">Enabling our employees to accelerate growth of our customers and create value for the society globally.</p>
              </center>  </div>
                <div class="col-md-4 col-sm-2">
                        <img class="img-responsive img-fluid" src="img/vi.png" >
                </div>
                
            </div>
            <section style="margin-top: 50px;">
            <div class="img-responsive container-fluid cf"><img src='img/vis.png'></div>
           </section>
            <div class="row" style="margin-top: 220px;">
                    <div class="col-md-4 col-sm-2" style="margin-top: 50px;">
                            <img class="img-responsive img-fluid" src="img/mi.png" >
                    </div>
                    <div class="col-md-8 col-sm-2">
                       <center> <h2 style="color:#1bb1dc;">- Mission -</h2></center>
                      <center><p style="width:90%;"><i class="fa fa-handshake-o" style="color:#1bb1dc; " aria-hidden="true"></i>
                        <font style="color: #1bb1dc">Workforce :</font> 
                        Hiring Effective Work Force which can be trained to meet our evolving client needs.</p>
                  </center> 
                  <center><p style="width:90%;"><i class="fa fa-handshake-o" style="color:#1bb1dc; " aria-hidden="true"></i>
                    <font style="color: #1bb1dc">Innovation :</font> 
                    Drill down into new domains with specialized Product and Solutions through collaborative work with partners.</p>
              </center>
              <center><p style="width:90%;"><i class="fa fa-handshake-o" style="color:#1bb1dc; " aria-hidden="true"></i>
                <font style="color: #1bb1dc">Competitive Advantage To Customer :</font> 
                Adding competitive advantages to Customer by providing best leading practices across business domains.</center>
                <center><p style="width:90%;"><i class="fa fa-handshake-o" style="color:#1bb1dc; " aria-hidden="true"></i>
                    <font style="color: #1bb1dc">Good Governance :</font> 
                    Following Best Practices in terms of compliance that will lead to fairness and integrity towards the organization and its customers.</center>
                    <center><p style="width:90%;"><i class="fa fa-handshake-o" style="color:#1bb1dc; " aria-hidden="true"></i>
                        <font style="color: #1bb1dc">Corporate Social Responsibility :</font> 
                        Responsive towards the Society by contributing towards educational and social programs.</center>
                         
            </div>
                    
                </div>
        </div>
    </div>
    </section>